<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
        <h1>Welcome to this side of the hood!</h1>
        <p>View our hand picked car places that is all over the country.... I think...</p>
        <p>
             <a class="btn btn-primary btn-lg" href="/cargrounds/new">Add New Carground</a>
        </p>
    </div>
  </header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
   <div class="col-lg-12">
       <h3>Our most popular sites</h3>
   </div>
    <% cargrounds.forEach(function(carground){ %>
        <div class="col-md-3 col-sm-6">
                 <div class="thumbnail">
                      <img class="img-thumbnai" src="<%= carground.image %>">
                      <div class="caption">
                           <h4><%= carground.name %></h4>
                      </div>
                      <p>
                        <a href="/cargrounds/<%= carground._id %>" class="btn btn-primary">More Info</a>
                      </p>
                 </div>

             </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>
