<% include partials/header %>

<h1>Creat a New Carground</h1>

<form action="/cargrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
</form>

<a href="/cargrounds">Go Back</a>
<% include partials/footer %>
